<nav class="navbar navbar-expand-lg bg-info-subtle navbar-dark">
    <div class="container-fluid">
          <a class="navbar-brand">
              <a class="nav-underline text-dark" ><i class="bi bi-emoji-smile" style="margin-right:8px ;"></i>Tienda de Ropa</a>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav  ms-auto d-flex gap-4 px-3">
            <li class="nav-item ">
              <a class="nav-link text-dark" [routerLink]= "['/home']" routerLinkActive="active" >Home</a>
            </li>
          </ul>
      </div>
  
  </nav>

