.card{
    width: 400px; 
    height: 425px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-family: lato;
    font-size: 18px;
}
