<section class="container mt-3">
    <h2 class="text-center">Nuestros Productos de la Tienda</h2>
    <hr class="border border-4 border-success">
    <br>
    <div class="row g-3 justify-content-center">
        @for (producto of misProductos | paginate: { itemsPerPage: perPage, currentPage: currentPage }; track producto._id){
            <article class="col-12 col-md-6 col-lg-4">
               <app-product-card [miProducto]= "producto"></app-product-card>
            </article>
        }
        @empty {
           <p>No hay Productos</p> 
        }
    </div>
    <br>
    <br>
      <!-- Controles de paginación -->
    <div class="d-flex justify-content-center mt-3">
        <pagination-controls (pageChange)="currentPage = $event"  previousLabel="Anterior"
        nextLabel="Siguiente"
        screenReaderPaginationLabel="Paginación de productos"
        screenReaderPageLabel="Página"
        screenReaderCurrentLabel="Página actual">
        </pagination-controls>
    </div>
</section>

